<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<header th:fragment="navigation">

    <div class="container-fluid bg-dark">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <a class="navbar-brand" th:href="@{/}">Bike Shop</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">

                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" th:href="@{/}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" th:href="@{/}">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" th:href="@{/}">Logout</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" th:href="@{/}">Contact us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" th:href="@{/}">About</a>
                    </li>
                </ul>

            </div>
        </nav>
    </div>

    <div class="container-fluid bg-secondary text-center">
        <div class="btn-group">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown"
                    aria-expanded="false">
                Bikes
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">View all</a></li>
            </ul>
        </div>

        <div class="btn-group">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown"
                    aria-expanded="false">
                Components
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">View all</a></li>
            </ul>
        </div>

        <div class="btn-group">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown"
                    aria-expanded="false">
                Accessories
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">View all</a></li>
            </ul>
        </div>

        <div class="btn-group">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown"
                    aria-expanded="false">
                Apparel
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">View all</a></li>
            </ul>
        </div>

        <div class="btn-group">
            <button type="button"
                    class="btn btn-secondary"
                    aria-expanded="false">
                New products
            </button>
        </div>

        <div class="btn-group">
            <button type="button"
                    class="btn btn-secondary"
                    aria-expanded="false">
                Blog
            </button>
        </div>
    </div>

</header>
</body>
</html>