<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head></head>

<body>
<header th:fragment="navigation">

    <div class="container-fluid bg-dark">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <a class="navbar-brand" th:href="@{/}">Bike Shop</a>
            <span class="text-white" sec:authorize="isAuthenticated()"> Welcome
                <th:block sec:authentication="principal.firstName"></th:block>
            </span>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">

                <ul class="navbar-nav">
                    <th:block sec:authorize="!isAuthenticated()">
                        <li class="nav-item">
                            <a class="nav-link active" th:href="@{/users/login}">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" th:href="@{/users/register}">Register</a>
                        </li>
                    </th:block>
                    <li sec:authorize="!hasRole('ADMIN')" class="nav-item">
                        <a class="nav-link active" th:href="@{/contact}">Contact us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" th:href="@{/about}">About</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                        <a class="nav-link active" th:href="@{/admin/panel}">Admin</a>
                    </li>
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <form class="logout-form"
                                th:method="POST"
                              th:action="@{/users/logout}">
                            <input class="logout-btn" type="submit" value="Logout">
                        </form>
                    </li>
                </ul>

            </div>
        </nav>
    </div>

    <div class="container-fluid bg-secondary text-center" sec:authorize="isAuthenticated()">
        <div class="btn-group">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown"
                    aria-expanded="false">
                Bikes
            </button>
            <ul class="dropdown-menu">
                <li th:each=" c : ${T(bg.softuni.bikeshopapp.model.enums.CategoryEnum).values()}">
                    <a class="dropdown-item" th:value="${c}" th:text="${c}" th:href="@{/bikes/{category}(category=${c})}"></a>
                </li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" th:href="@{/bikes/all}">View all</a></li>
            </ul>
        </div>

        <div class="btn-group">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown"
                    aria-expanded="false">
                Components
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">View all</a></li>
            </ul>
        </div>

        <div class="btn-group">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown"
                    aria-expanded="false">
                Accessories
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">View all</a></li>
            </ul>
        </div>

        <div class="btn-group">
            <button type="button"
                    class="btn btn-secondary"
                    aria-expanded="false">
                Blog
            </button>
        </div>
    </div>

</header>
</body>
</html>