<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{/fragments/head}"></head>
<body>

<header th:replace="~{/fragments/navigation}"></header>

<div class="mainBlurWrapper">

    <h1 class="mainHeader">About us</h1>

    <div class="container">

        <img class="rounded mx-auto d-block img-fluid" src="/images/aboutUs1.jpg" alt="aboutUs">
        <br>
        <img class="rounded mx-auto d-block img-fluid" src="/images/aboutUs2.jpg" alt="aboutUs">
        <br>
        <img class="rounded mx-auto d-block img-fluid" src="/images/aboutUs3.jpg" alt="aboutUs">
        <br>
        <img class="rounded mx-auto d-block img-fluid" src="/images/aboutUs4.jpg" alt="aboutUs">

    </div>

</div>

<footer th:replace="~{fragments/footer}"></footer>
</body>

</html>