<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/fragments/head}"></head>
<body>

<header th:replace="~{/fragments/navigation}"></header>

<div class="mainBlurWrapper">
    <h1 class="mainHeader">Admin panel</h1>

    <br>

    <div class="center bg-dark rounded">

        <p class="text-center text-white fw-bold">Add menu</p>

        <div class="list-group">
            <a th:href="@{/manufacturers/add}" class="list-group-item list-group-item-action">Add Manufactures</a>
            <a th:href="@{/models/add}" class="list-group-item list-group-item-action">Add model</a>
            <a th:href="@{/bikes/add}" class="list-group-item list-group-item-action">Add bike</a>
            <a th:href="@{/components/add}" class="list-group-item list-group-item-action">Add components</a>
            <a th:href="@{/accessories/add}" class="list-group-item list-group-item-action">Add accessories</a>
            <a th:href="@{/articles/add}" class="list-group-item list-group-item-action">Add article</a>
        </div>

    </div>

    <br>

    <div class="center bg-dark rounded">

        <p class="text-center text-white fw-bold">Edit menu</p>

        <div class="list-group">
            <a th:href="@{/manufacturers/edit}" class="list-group-item list-group-item-action">Edit Manufactures</a>
            <a th:href="@{/models/edit}" class="list-group-item list-group-item-action">Edit model</a>
        </div>

    </div>

    <br>

    <div class="center bg-dark rounded">

        <p class="text-center text-white fw-bold">User menu</p>

        <div class="list-group">
            <a th:href="@{/users/activates}" class="list-group-item list-group-item-action">Activate user</a>
            <a href="#" class="list-group-item list-group-item-action">Edit users</a>
        </div>

    </div>

    <br>

    <div class="center bg-dark rounded">

        <p class="text-center text-white fw-bold">Messages</p>

        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action">Messages</a>

        </div>

    </div>

</div>

<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>