<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{/fragments/head}"></head>
<body>

<header th:replace="~{/fragments/navigation}"></header>

<div class="mainBlurWrapper">

    <th:block th:if="${bikesBaseView.size() == 0}">
        <h1 class="text-white text-center">At this moment we don't have bikes</h1>
    </th:block>

    <div class="row row-cols-1 row-cols-md-3 g-4 text-center details-view">
        <div class="col" th:each="bike : ${bikesBaseView}" th:object="${bike}">
            <div class="card">
                <img th:src="*{imageUrl}" class="card-img-top" alt="bike">
                <div class="card-body">
                    <h4 class="card-title" th:text="*{manufacturer}"></h4>
                    <h5 class="card-title" th:text="*{model}"></h5>
                    <form>
                        <button type="submit" class="btn btn-primary">Details</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

<footer th:replace="~{fragments/footer}"></footer>
</body>

</html>