<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/fragments/head}"></head>
<body>

<header th:replace="~{/fragments/navigation}"></header>

<div class="mainBlurWrapper">
    <h1 class="mainHeader">Add model</h1>

    <br>

    <div class="center bg-dark">

        <form th:object="${modelAddBindingModel}"
              th:method="POST"
              th:action="@{/models/add}">

            <label class="text-center text-white font-weight-bold" for="manufacturerId">Manufacturers</label>
            <select id="manufacturerId"
                    class="form-control"
                    th:name="manufacturerId">
                <option value="">- Select a manufacturer -</option>
                <option
                        th:each="manufactuter : ${manufacturers}"
                        th:text="${manufactuter.name}"
                        th:value="${manufactuter.id}">
                </option>
            </select>
            <small class="bg-danger text-light" th:errors="*{manufacturerId}"></small>

            <br>

            <label for="name" class="text-white">Model name</label>
            <input id="name"
                   th:field="*{name}"
                   name="name"
                   type="text"
                   class="form-control"
                   placeholder="Enter a model name">
            <small class="bg-danger text-light" th:errors="*{name}"></small>
            <small class="bg-danger text-light" th:if="${alreadyExist}">Model already exist!</small>

            <br>

            <a href="/admin/panel" class="btn btn-info">Back</a>
            <button type="submit" class="btn btn-info">Save</button>

        </form>

    </div>


</div>

<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>